body{
    background-color:lightcoral;
    font-size:16px;
    color:black;
}
#header-nav{
    background-color:orange;
    border-radius:0;
    border:0;
}
.navbar-brand h1{
color:rebeccapurple;
float:left;
position:absolute;
left:20px;
top:-12px;
margin-left:10px;
margin-bottom:10px;
}
h3{
    color:red;
    font-weight: bold;
}
#nav-list {
    background-color: maroon;
}
#nav-list a {
    font-weight: bolder;
    font-size: 1.2em;
}
#main-content {
    width: 92%;
    margin-bottom: 40px;
}

#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
}

#main-content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}

#main-section {
    background-color: #82d06b;
    box-shadow: 0 0 50px #0f5900;
    padding: 30px;
}
